.footer {
  padding: 40px 0 40px;
  background: #f6f6f6;
  &__wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-logo {
    width: 205px;
    height: 101px;
    display: block;
  }
  &-nav {
    margin-left: 50px;
    &__list {
      display: flex;
    }
    &__list li:not(:last-of-type) {
      margin-right: 50px;
    }
    &__link {
      font-size: 16px;
      color: #000000;
      text-decoration: underline;
    }
    &__link:hover {
      color: #f37321;
    }
  }
  &-social {
    display: flex;
    &__link {
      width: 28px;
      height: 28px;
      background: #c4c4c4;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-social li:not(:last-of-type) {
    margin-right: 20px;
  }
}
@media (max-width: 1230px) {
  .footer {
    &-logo {
      width: 128px;
      height: 58px;
      &__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1022px) {
}
@media (max-width: 798px) {
  .footer {
    &__wr {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  }
}
@media (max-width: 606px) {
  .footer {
    padding: 20px 0 30px;
    &__wr {
      flex-wrap: wrap;
      gap: 30px 15px;
      justify-content: center;
    }
    &-info {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }
    &-nav {
      display: flex;
      margin: 0;
      &__list {
        display: flex;
        gap: 10px 0;
        flex-direction: column;
        & li:not(:last-of_type) {
          margin-right: 0;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .footer {
    &__wr {
      justify-content: flex-start;
      align-items: start;
    }
    &-nav {
      margin: 0 0 0 10px;
      &__list {
        flex-direction: column;
        gap: 10px 10px;
        & li:not(:last-of-type) {
          margin-right: 0px;
        }
      }
    }
    &-social {
      margin-left: 10px;
    }
  }
}
